.idea/
.vscode/

# Backend
/backend/.mvn/
/backend/target/
/backend
/backend/docs/db/
/backend/src/main/resources/application.yml

# frontend
/frontend/.vite/
/frontend/docs/
/frontend/node_modules/
/frontend/copilot-instructions.md
/frontend/.env.local
/frontend/README.md
